<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ordine" class="com.constructordi.Ordine">

    </bean>

    <bean id="prodotto" class="com.constructordi.Prodotto">

    </bean>

    <bean id="fattura" class="com.constructordi.Fattura">
        <constructor-arg ref="ordine"/>
        <constructor-arg ref="prodotto"/>
    </bean>
</beans>